node_modules
out
dist
release
bundled-mod/.gradle
bundled-mod/build
bundled-mod/.idea
bundled-mod-121/.gradle
bundled-mod-121/build
bundled-mod-121/.idea
.env
*.log
.DS_Store
Thumbs.db
resources/tidal-builtin/*.jar
*.tsbuildinfo
src/renderer/**/*.js
src/renderer/**/*.d.ts
!src/renderer/src/env.d.ts
src/shared/*.js
src/shared/*.d.ts
src/preload/index.js
