node_modules
out
dist
release
bundled-mod/.gradle
bundled-mod/build
bundled-mod/.idea
bundled-mod-121/.gradle
bundled-mod-121/build
bundled-mod-121/.idea
.env
*.log
.DS_Store
Thumbs.db
resources/tidal-builtin/*.jar
